# будут игнорироваться все файлы и каталоги Thumbs.db
Thumbs.db

# будут игнорироваться все файлы .DS_Store
*.DS_Store

# будут игрорироваться все файлы в подкаталоге tmp
tmp/

# будут игрорироваться все файлы с суффиксами _old 
*.*_old

# будут игрорироваться все файлы с суффиксами _backup
*.*_backup